esphome:
  name: lavender-scale
  friendly_name: Lavender Scale
  on_boot:
    priority: 600
    then:
      - if:
          condition:
            lambda: 'return id(ota_mode);'
          then:
            - deep_sleep.prevent: deep_sleep_component

esp32:
  variant: esp32s3
  board: esp32-s3-devkitc-1
  framework:
    type: esp-idf

# Enable logging
logger:
  hardware_uart: USB_SERIAL_JTAG

# Enable Home Assistant API
api:

ota:
- platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Static IP settings from logs
  manual_ip:
    static_ip: 192.168.0.192
    gateway: 192.168.0.1
    subnet: 255.255.254.0
    dns1: 192.168.1.79
    dns2: 192.168.0.1



sensor:
  - platform: hx711
    name: "Lavender Scale"
    dout_pin: GPIO2
    clk_pin: GPIO1
    gain: 128
    update_interval: 10s
    unit_of_measurement: "g"
    accuracy_decimals: 1
    filters:
      - median:
          window_size: 3
          send_every: 1
      - calibrate_linear:
          # (Raw Value) -> (Actual Grams)
          - 29430 -> 0.0
          - -14750 -> 100.0
    icon: "mdi:scale"

  - platform: adc
    name: "Lavender Scale Battery"
    pin: GPIO4
    attenuation: auto
    update_interval: 60s
    unit_of_measurement: "V"
    icon: "mdi:battery"
    accuracy_decimals: 2

globals:
  - id: ota_mode
    type: bool
    restore_value: yes
    initial_value: 'false'

switch:
  - platform: template
    name: "Lavender Scale OTA Mode"
    id: ota_mode_switch
    lambda: 'return id(ota_mode);'
    optimistic: true
    on_turn_on:
      - globals.set:
          id: ota_mode
          value: 'true'
      - deep_sleep.prevent: deep_sleep_component
    on_turn_off:
      - globals.set:
          id: ota_mode
          value: 'false'
      - deep_sleep.allow: deep_sleep_component

deep_sleep:
  id: deep_sleep_component
  run_duration: 60s
  sleep_duration: 10min
