esphome:
  name: lavender_scale
  friendly_name: Lavender Scale
  on_boot:
    priority: 600
    then:
      - light.turn_on:
          id: status_led
          red: 20%
          green: 0%
          blue: 0%
          brightness: 25%

esp32:
  variant: esp32s3
  board: esp32-s3-devkitc-1
  framework:
    type: esp-idf

# Enable logging
logger:
  hardware_uart: USB_SERIAL_JTAG

# Enable Home Assistant API
api:

ota:
- platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Static IP settings from logs
  manual_ip:
    static_ip: 192.168.0.192
    gateway: 192.168.0.1
    subnet: 255.255.254.0
    dns1: 192.168.1.79
    dns2: 192.168.0.1

# The specific driver for the Super Mini S3 onboard LED
light:
  - platform: esp32_rmt_led_strip
    id: status_led
    name: "Internal LED"
    pin: GPIO48
    chipset: WS2812
    num_leds: 1
    rgb_order: GRB
    default_transition_length: 500ms

sensor:
  - platform: hx711
    name: "Lavender Scale"
    dout_pin: GPIO2
    clk_pin: GPIO1
    gain: 128
    update_interval: 10s
    unit_of_measurement: "g"
    accuracy_decimals: 1
    filters:
      - median:
          window_size: 3
          send_every: 1
      - calibrate_linear:
          # (Raw Value) -> (Actual Grams)
          - 29430 -> 0.0
          - -14750 -> 100.0
    icon: "mdi:scale"

  - platform: adc
    name: "Lavender Scale Battery"
    pin: GPIO4
    attenuation: auto
    update_interval: 60s
    unit_of_measurement: "V"
    icon: "mdi:battery"
    accuracy_decimals: 2

deep_sleep:
  run_duration: 60s
  sleep_duration: 10min
