esphome:
  name: lavender_scale
  friendly_name: Lavender Scale

esp32:
  board: esp32dev
  framework:
    type: arduino

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:
  password: "lavender-ota"

wifi:
  ssid: "private6"
  password: "Scooby49"

  manual_ip:
    static_ip: 192.168.1.150
    subnet: 255.255.255.0
    gateway: 192.168.1.1

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Lavender Scale Fallback Hotspot"
    password: "lavender-setup"

captive_portal:

sensor:
  - platform: hx711
    name: "Lavender Scale"
    dout_pin: GPIO21
    sck_pin: GPIO22
    gain: 128
    update_interval: 10s
    unit_of_measurement: "g"
    accuracy_decimals: 1
    filters:
      - median:
          window_size: 3
          send_every: 1
      - calibrate_linear:
          # (Raw Value) -> (Actual Grams)
          - 29430 -> 0.0
          - -14750 -> 100.0
    icon: "mdi:scale"

deep_sleep:
  run_duration: 60s
  sleep_duration: 10min
